.Header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom: 0.1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    padding: 5px;
}


.header__left{
    display: flex;
}

.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}


.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef8f8;
}


.header__search > input{
    outline: none;
    border:none;
    background-color: none;
}

.header__right{
    display: flex;
}